<div class="box_content"><!--
  --><div class="line_box"><!--
    --><div class="box prez_ent" (click)="pushPresentationEntreprise()"><i class="text">L'atelier</i></div><!--
    --><div class="box prez_svc" (click)="pushPresentationService()"><i class="text">Nos services</i></div><!--
    --><div class="box actu" (click)="pushActualites()"><i class="text">Actualitées</i></div><!--
  --></div><!--
  --><div class="line_box"><!--
    --><div class="box gal" (click)="pushGallerie()"><i class="text">Gallerie</i></div><!--
    --><div class="box contact" (click)="pushContact()"><i class="text">contact</i></div><!--
    --><div class="box part" (click)="pushPartenaire()"><i class="text">Nos relations</i></div><!--
  --></div><!--
--></div>
